{% extends "base.html" %}
{% load static %}

{% block title %}Sign Up{% endblock %}

{% block content %}


<section class="checkin">
    <div class="checkin-form__wrapper">
        <header class="checkin-form__header">
            <div class="checkin-form__title">Sign up with</div>
            <ul class="social">
                <li class="social__item">
                    <img class="social__icon" src="{% static 'img/fb.svg' %}" alt="fb-logo">
                    <a class="social__link" href="{% url 'social:begin' 'facebook' %}">Facebook</a>
                </li>
                <li class="social__item">
                    <div class="social__separate">/</div>
                </li>
                <li class="social__item">
                    <img class="social__icon" src="{% static 'img/goo.svg' %}" alt="google-logo">
                    <a class="social__link" href="{% url 'social:begin' 'google-oauth2' %}">Google</a>
                </li>
            </ul>
        </header>
        <div class="separate">or</div>
        <form method="post" class="checkin-form">
            {% csrf_token %}
            {% for field in form %}
                <div class="checkin-form__group">
                    {{ field }}
                    <label class="checkin-form__label" for="{{ field.name }}">{{ field.label }}</label>
                    <object type="image/svg+xml" data="{% static 'img/user.svg' %}" class="input-icon"></object>
                </div>
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="checkin-form__group">
                <input class="checkin-form__input" id="placepass" type="checkbox" name="placepass">
                <label class="checkin-form__text" for="placepass">I`d like to receive PlacePass news and offers</label>
                <p class="checkin-form__text-small">By signing up. I agree to the PlacePass. <a href="">Terms of Service</a> and <a href="">Privacy
                    Policy.</a></p>
            </div>
            <input class="checkin-form__btn" type="submit" value="Register">
        </form>
{#        <form method="post" class="checkin-form">#}
{#            {% csrf_token %}#}
{#            <div class="checkin-form__group">#}
{#                <input class="checkin-form__input" type="text" id="first-name" name="first-name" required>#}
{##}
{#            </div>#}
{#            <div class="checkin-form__group">#}
{#                <input class="checkin-form__input" type="text" id="last-name" name="last-name" required>#}
{#                <label class="checkin-form__label" for="last-name">Last Name</label>#}
{#                <object type="image/svg+xml" data="{% static 'img/user.svg' %}" class="input-icon"></object>#}
{#            </div>#}
{#            <div class="checkin-form__group">#}
{#                <input class="checkin-form__input" type="email" id="email" name="email" placeholder=" " required>#}
{#                <label class="checkin-form__label" for="email">Email</label>#}
{#                <object type="image/svg+xml" data="{% static 'img/email.svg' %}" class="input-icon"></object>#}
{#            </div>#}
{#            <div class="checkin-form__group">#}
{#                <input class="checkin-form__input" type="password" id="passw" name="passw" placeholder=" " autocomplete="on" required>#}
{#                <label class="checkin-form__label" for="passw">Passord</label>#}
{#                <object type="image/svg+xml" data="{% static 'img/lock.svg' %}" class="input-icon"></object>#}
{#            </div>#}
{#            <div class="checkin-form__group">#}
{#                <input class="checkin-form__input" type="password" id="passw-c" name="passw-c" placeholder=" " autocomplete="on" required>#}
{#                <label class="checkin-form__label" for="passw-c">Confirm Password</label>#}
{#                <object type="image/svg+xml" data="{% static 'img/lock.svg' %}" class="input-icon"></object>#}
{#            </div>#}
{#            <div class="checkin-form__group">#}
{##}
{#                <input class="checkin-form__input" id="placepass" type="checkbox" name="placepass">#}
{#                <label class="checkin-form__text" for="placepass">I`d like to receive PlacePass news and offers</label>#}
{#                <p class="checkin-form__text-small">By signing up. I agree to the PlacePass. <a href="">Terms of Service</a> and <a href="">Privacy#}
{#                    Policy.</a></p>#}
{#            </div>#}
{##}
{#            <input class="checkin-form__btn" type="submit" value="Register">#}
{#        </form>#}
        <footer class="checkin-form__footer">
            <p class="checkin-form__text"> Alredy have an account?</p>
            <a class="btn" href="">Log in</a>
        </footer>
    </div>
</section>
{% endblock %}